<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class = "container">

<!--<header th:replace="fragments :: header"></header>-->
<h1> All Events </h1>


<p th:unless="${events} and ${events.size()}"> Sorry, No events yet! </p>

<table class = "table table-striped">
    <thead>
        <tr>
            <th> Event Name </th>
            <th> Description </th>
            <th> Address </th>
        </tr>
    </thead>
        <th:block th:each="event: ${events}">
            <tr>
                <td th:text="${event.getKey()}"> Event Name</td>
                <td th:text="${event.getValue()}"> Descrip</td>
                <td th:replace="fragments :: address"> Addy </td>
            </tr>
        </th:block>
</table>

<nav th:replace = "fragments :: navigation"></nav>

    </ul>
</body>
</html>