<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments :: head"></head>

<body>
<h1> All Events </h1>
<nav th:replace = "fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}"> Sorry, No events yet! </p>
    <ul>
        <th:block th:each = "event : ${events}">
            <!--            the above line references the attribute name passed in from the hello-names controller-->
            <li th:text="${event}"></li>
        </th:block>
    </ul>
</body>
</html>